
<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button fill="solid" shape="round" color="light" routerLink="/kiemkelist">
        <ion-icon slot="icon-only" name="arrow-back" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Kiểm kê mã tài sản</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

<ion-content>
  <div class="video-container">
    <div style="position:relative;">
      <ion-icon [hidden]="!scanActive" (click)="stopScan()" name="close-circle-outline"
        style="position: absolute;top: 5px;right: 5px;color: red;font-size: 23px;z-index:100;"></ion-icon>
    </div>
    <video #video [hidden]="!scanActive" width="100%"> </video>
  </div>
  <canvas #canvas hidden></canvas>

  <ion-button expand="full" (click)="start()" [hidden]="!scanActive" >
    <ion-icon slot="start" name="qr-code-outline"></ion-icon>
    Bấm để quét
  </ion-button>

<form (ngSubmit)="submitMaTaiSan()">
  <ion-list>
    <div class="contain_div">
    <ion-item *ngFor="let scanner of newDataKiemKe">
      <ion-avatar slot="start">
        <img src="/assets/image/icons8-link-24.png">
      </ion-avatar>
      <ion-label>
        <div class="col_div">
        <h3 (click)="ShowMaTaiSan()">{{scanner.data}}</h3>
        <p>{{scanner.timeScan}}</p>
        </div>
      </ion-label>
      <ion-col size="2">
        <ion-icon name="close-outline" (click)="delete(scanner)" color="danger" style="height: 20px;width: 21px;">
        </ion-icon>
        </ion-col>
    </ion-item>
  </div>
  </ion-list>

  <ion-button expand="full" type="submit" [hidden]="scanActive" >
    <ion-icon slot="start" name="arrow-up-outline"></ion-icon>
    Gửi dữ liệu
  </ion-button>
</form>

</ion-content>
